---
layout: compress
---

<!DOCTYPE html>
<meta http-equiv="Content-Language" content="en">
<html>
{% include head.html %}
<body id="posts">

  <div class="block-left">
    <div class="content">
      <div class="main-info">
        <h1>
          {{ site.title }}
        </h1>
        <!--h3>
          {{ site.description }}
        </h3-->
        <h4><b>AKASH SURESH</b></h4>
      
      </div>
    </div>
    <canvas></canvas>
  </div>

  <div class="block-right">
    <a href="{{site.url}}/tags.html" title="posts" class="posts-menu-icon"></a>
    <span class="posts-link">Search</span>
    <a href="{{site.url}}" title="home" class="projects-menu-icon">
      <span></span>
    </a>
    <span class="projects-link">Home...!</span>
      
    <div class="content">
      <div class="about-info">  
        {{ content }}
      </div>
    </div>
  </div>
    
  {% include overlay.html %}
  {% include scripts.html %}
  <!--<script src="{{ site.url }}/assets/js/canvas.js"></script>-->
</body>
</html>
